@font-face {
  font-family: 'Trim';
  src: url('./assets/fonts/trimLightNew-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trim';
  src: url('./assets/fonts/trimRegularNew.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trim';
  src: url('./assets/fonts/trimMediumNew-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.186;
  letter-spacing: 1.6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: var(--font-display);
  font-weight: 300;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -2px;
}

h2 {
  font-family: var(--font-display);
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -2px;
}

h3 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.3px;
}

button {
  cursor: pointer;
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.3px;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}
